node_modules
.next
.turbo
out
dist
build
coverage

# env
.env
.env.local
.env.*.local
!.env.example

# Supabase
supabase/.branches
supabase/.temp
supabase/.env

# OS / editor
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/settings.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# PWA generated
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/workbox-*.js
apps/web/public/workbox-*.js.map

# TypeScript / Next generated
*.tsbuildinfo
next-env.d.ts
